<html>
  <head>
    <title></title>
    <p>
      <img src="http://media.einfachtierisch.de/thumbnail/600/0/media.einfachtierisch.de/images/2017/01/Au%C3%9Fengehege-Frettchen-Chipiko-Shutterstock-167990270.jpg" alt="Niedliches Frettchen">
    </p>
    <p>
      <img src="http://www.bilder-upload.eu/show.php?file=96b985-1519213963.jpg" alt="2 Frettchen">
    </p>
    <p>
      <img src="https://img2.picload.org/image/dadaciww/arcann.gif" alt="kaputt">
    </p>
    <p>
      <img src="https://img2.picload.org/image/dadacpgr/umschlag.gif" alt="kaputt2">
    </p>
    <style></style>
  </head>
  <body></body>
</html>
